
<div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <app-breadcumbs></app-breadcumbs>
        <div class="container-fluid mt-4">
          <app-loading *ngIf="loading"></app-loading>
            <div class="row" *ngIf="!loading">
                <div class="col-lg-8" style="cursor: pointer;">
                  <div class="card">
                    <!-- Card image -->
                    <img class="card-img-top" [src]="movie | img" alt="Image placeholder">
                    <!-- Card body -->
                    <div class="card-body">
                      <h3 class="card-title mb-3">{{movie?.title}}</h3> 
                      <div class="card-text mb-4 containerMore" [class.show]="movie?.visible" style="text-align: justify;">
                        {{movie?.overview}}
                      </div>
                      <button type="button" class="btn btn-success mb-4" (click)="movie.visible = !movie.visible">{{ movie?.visible ? 'Show less': 'Show more' }}</button>
                    </div>
                    <button type="button" class="btn btn-primary mb-4" (click)="back()">Back</button>
                  </div>
                </div>  
                <div class="col-lg-4" style="cursor: pointer;">
                  <div class="card">
                    <!-- Card image -->
                    <img class="card-img-top" [src]="movie | img" alt="Image placeholder">
                    <!-- Card body -->
                    <div class="card-body">
                      <h3 class="card-title mb-3">{{movie?.title}}</h3> 
                      <div class="card-text mb-4 containerMore" [class.show]="movie?.visible" style="text-align: justify;">
                        {{movie?.overview}}
                      </div>
                      <button type="button" class="btn btn-success mb-4" (click)="movie.visible = !movie.visible">{{ movie?.visible ? 'Show less': 'Show more' }}</button>
                    </div>
                  </div>
                </div>  
            </div>
        </div>
      </div>
    </div>
</div>



