.containerMore {
    font-size: 16px;
    line-height: 16px;
    height: 32px;
    overflow: hidden;
  }
  
  .show {
    overflow: visible;
    height: auto;
  }
  
  .heart{
    color: #f5365c !important;
  }