<div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <app-breadcumbs></app-breadcumbs>
        <div class="container-fluid mt-4">
            <button type="button" class="btn btn-success mb-4" [disabled]='page == 1' (click)="previous(-1)">Previous</button>
            <button type="button" class="btn btn-success mb-4" (click)="next(+1)">Next</button>
            <div class="row">
                <div class="col-lg-4" *ngFor="let peli of peliPopulares" style="cursor: pointer;">
                  <div class="card">
                    <!-- Card image -->   
                    <img class="card-img-top" [src]='peli | img'  alt="Image placeholder">
                    <!-- Card body -->
                    <div class="card-body">
                      <h3 class="card-title mb-3">{{peli.title}}</h3>
                      <div class="card-text mb-4 containerMore" [class.show]="peli.visible" style="text-align: justify;">
                       {{ peli.overview}}
                      </div>
                      <button type="button" class="btn btn-success mb-4"  (click)="peli.visible = !peli.visible"> {{ peli.visible ? 'Show less': 'Show more' }}</button>
                    </div>
                    <!-- <button type="button" class="btn btn-primary mb-4" (click)="goToDetails(peli)">Go to details</button> -->
                  </div>
                </div>
                </div>
        </div>
      </div>
    </div>
</div>

